<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Marko + Lasso</title>
        <lasso-head/>
    </head>
    <body>
    <h1>Marko!</h1>
    <app-button buttonTxt="Click Me Now!" />
        <lasso-body/>
    </body>
</html>